spring:
  application:
    name: codeless-with-ai
  profiles:
    active: local
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url:
    username:
    password:
  data:
    redis:
      host: 127.0.0.1
      port: 6379
      password:
      # 自定义 key 过期时间：1小时
      ttl: 3600
      database: 0
  # session 配置
  session:
    store-type: redis
    # session 7 天过期
    timeout: 604800
server:
  port: 8888
  servlet:
    context-path: /api
    session:
      cookie:
        # cookie 7 天过期
        max-age: 604800

# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.dingzk.codeless.controller
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn

langchain4j:
  open-ai:
    chat-model:
      api-key: ${OPENAI_API_KEY}
      model-name: deepseek-chat
      log-requests: true
      log-responses: true
      base-url: https://api.deepseek.com
      max-tokens: 8192
      # 避免重试节省成本
      max-retries: 1
      response-format: json_object
      strict-json-schema: true
    streaming-chat-model:
      api-key: ${OPENAI_API_KEY}
      model-name: deepseek-chat
      log-requests: true
      log-responses: true
      base-url: https://api.deepseek.com
      max-tokens: 8192
      # 避免重试节省成本
      max-retries: 1